<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BASEDATOS" connectionString="Data Source=&quot;dreyes14.database.windows.net, 1433&quot;;Initial Catalog=BASEDATOS;User ID=davidreyes;Password=12345678Aa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>